<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">DEUS PHARMACY SYSTEM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/dashboard"><span></span> DASHBOARD</a></li>
        <li><a ng-href="#/patient"><span></span> PRESCRIPTION</a></li>
        <li><a ng-href="#/inventry"><span></span> INVENTRY</a></li>
        <li><a ng-href="#/issuedrugs"><span></span>ISSUE DRUGS</a></li>
        <li><a ng-href="#/adduser"><span></span> ADD USER</a></li>
        <li><a href="#"><span></span>SIGN OUT!</a></li>
      </ul>
    </div>
  </div>
</nav>